
<style type="text/css" media="screen">
	.well {
	    min-height: 20px;
	    padding: 19px;
	    margin-bottom: 20px;
	    background-color: #f5f5f5;
	    border: 1px solid #e3e3e3;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	}
	input:required:invalid, input:focus:invalid {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
		background-position: right top;
		background-repeat: no-repeat;
		-moz-box-shadow: none;
	}
	input:required:valid {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
		background-position: right top;
		background-repeat: no-repeat;
	}
  .angular-google-map-container { height: 400px; }
  .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
</style>

<div class="wrpp-rr" ng-controller="DatosCompraCtrl">
  <script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
      <div ng-transclude></div>
    </div>
  </script>

  <script type="text/ng-template" id="mySendingReceivedModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">{{modalTitleText}}</h3>
    </div>
    <div class="modal-body">
      {{modalDetailText}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="okModal()" ng-show="okButtonShow">OK</button>
    </div>
  </script>

	<div id="container" class="products">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div id="catalogo" class="container well">
      <form>
        <div class="form-group">
          <label class="control-label col-sm-3">Nombre: </label>
          <div class="col-sm-9">
            <input class="form-control" type="text" size="25" name="" value="" ng-model="datosCompra.nombre" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Apellido Paterno: </label>
          <div class="col-sm-9">
            <input class="form-control" type="text" size="25" name="" value="" ng-model="datosCompra.ap_pat" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Apellido Materno: </label>
          <div class="col-sm-9">
            <input class="form-control" type="text" size="25" name="" value="" ng-model="datosCompra.ap_mat" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Calle: </label>
          <div class="col-sm-9">
            <input class="form-control" type="text" size="25" name="" value="" ng-model="datosCompra.direccion.calle" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">No. Exterior: </label>
          <div class="col-sm-9">
            <input class="form-control" type="text" size="25" name="" value="" ng-model="datosCompra.direccion.no_ext" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">No. Interior: </label>
          <div class="col-sm-9">
            <input class="form-control" type="text" size="25" name="" value="" ng-model="datosCompra.direccion.no_int">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Colonia: </label>
          <div class="col-sm-9">
            <input class="form-control" type="text" size="50" name="" value="" ng-model="datosCompra.direccion.colonia" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Código Postal: </label>
          <div class="col-sm-9">
            <input class="form-control" type="number" size="5" name="" value="" ng-model="datosCompra.direccion.cp" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Estado: </label>
          <div class="col-sm-9">
            <input class="form-control" type="text" size="25" name="estado" value="" ng-model="datosCompra.direccion.estado" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Delegación o Municipio: </label>
          <div class="col-sm-9">
            <input class="form-control" type="text" size="25" name="municipios" value="" ng-model="datosCompra.direccion.del_mun" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Teléfono de Contacto: </label>
          <div class="col-sm-9">
            <input class="form-control" type="tel" size="25" name="" value="" ng-model="datosCompra.contacto.tel" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Correo Electrónico: </label>
          <div class="col-sm-9">
            <input class="form-control" type="email" size="25" name="" value="" ng-model="datosCompra.contacto.email">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-12">Coloca el marcador en la dirección de entrega...</label>
          <ion-content>
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
              <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" options="'options'"></ui-gmap-markers>
            </ui-gmap-google-map>
          </ion-content>
        </div>

        <div class="form-group">
          <button class="btn btn-success form-control" ng-click="enviarOrdenCompra()">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            &nbsp;&nbsp;ENVIAR ORDEN
          </button><br><br>
          <button class="btn btn-info form-control" ng-click="regresar()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            &nbsp;&nbsp;REGRESAR
          </button><br><br>
          <button class="btn btn-danger form-control" ng-click="cancelarOrden()">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            &nbsp;&nbsp;CANCELAR ORDEN
          </button>
        </div>
      </form>
    </div>
	</div>
</div>
