<div><br>
	<div ng-if="detalle === undefined || detalle.length < 1">
		<strong>Usted no ha seleccionado productos.</strong>
		<br><br>
	</div>
	<fieldset ng-if="detalle.length > 0">
		<legend>Resumen de compra</legend>
		<table class="table">
			<thead>
				<th></th>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Costo</th>
			</thead>
			<tbody>
				<tr ng-repeat="producto in detalle">
					<td><img class="media-object" ng-src="{{producto.imagen}}" height="50" width="50"></td>
					<td>{{producto.nombre}}</td>
					<td>{{producto.cantidad}}</td>
					<td>{{producto.precio * producto.cantidad | currency}}</td>
				</tr>
			</tbody>
		</table>
		Total de su compra: <strong>{{totalCompra | currency}}</strong><br><br>
	</fieldset>

				<button type="button" class="btn btn-info" ng-click="go('productos')">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					Regresar
				</button>
				<button type="button" style="float: right;" class="btn btn-success" ng-click="go('datos_compra')" ng-disabled="detalle === undefined || detalle.length < 1">
					<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
					Comprar
				</button>
</div>
<script>
 $('html, body').animate({scrollTop:0}, 1, 'linear');

</script>
