<div><br>
	<fieldset>
		<legend>Resumen de compra</legend>
		<table class="table">
			<thead>
				<th></th>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Costo</th>
			</thead>
			<tbody>
				<tr ng-repeat="producto in detalle">
					<td><img class="media-object" ng-src="{{producto.imagen}}" height="50" width="50"></td>
					<td>{{producto.nombre}}</td>
					<td>{{producto.cantidad}}</td>
					<td>{{producto.precio * producto.cantidad | currency}}</td>
				</tr>
			</tbody>
		</table>
		Total de su compra: <strong>{{totalCompra | currency}}</strong><br><br>

				<button type="button" class="btn btn-info" ng-click="go('productos')">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					Regresar
				</button>
				<button type="button" style="float: right;" class="btn btn-success" ng-click="go('datos_compra')">
					<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
					Comprar
				</button>

	</fieldset>
</div>
<script>
 $('html, body').animate({scrollTop:0}, 1, 'linear');

</script>
