<div ng-controller="ProductosCtrl">

        <div id="container" class="products">
            <form >
                <div  class="container">
                    <div class="row">
                        <div class="col-md-4" ng-repeat="producto in productosArray">
                        <br>
                            <input name="productos" value="{{producto.id}}" type="hidden" ng-model="producto.id">
                            <input id="{{'cantidad' + producto.id}}" name="productos" value="{{producto.quantity}}" type="hidden" ng-model="producto.quantity">

                            <!-- Detalle de cada producto -->
                            <div>
                                <div class="col-md-12">

                                    <div class="{{'product-item.item-'+producto.id}}" >
                                    <img style="width:100%" class="media-object" ng-src="{{producto.imagen}}">
                                        <div class="product-qty1" >
                                            <div class="less-qty">
                                                <a href="" ng-click="restarPrecio(producto.precio); quitarProducto(producto)"><img src="./promos_files/restar.png">
                                                </a>
                                            </div>
                                            <div class="qty-result">
                                                <p id="parrafo33">{{numProducto(producto.id)}}</p>
                                            </div>
                                            <div class="more-qty">
                                                <a href="" ng-click="sumarPrecio(producto.precio); agregarProducto(producto)"><img src="./promos_files/agregar.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="product-description">
                                        <p>{{producto.descripcion}}
                                            <span class="blue">{{producto.precio | currency}}</span>
                                        </p>
                                        <p class="small">{{producto.presentacion}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

</div>
